CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build
build-debug
.cache

subprojects/SFML-2.5.1
subprojects/flac-1.5.0
subprojects/fmt-12.0.0
subprojects/freetype-2.14.1
subprojects/libogg-1.3.6
subprojects/libpng-1.6.50
subprojects/libvorbis-1.3.7
subprojects/openal-soft-1.24.3
subprojects/packagecache
subprojects/zlib-1.3.1
subprojects/libpng.wrap
subprojects/zlib.wrap
